[core]
	editor = vim
	autocrlf = input
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	pager = lv
[color]
	ui = true
[user]
	name = issuy
	email = akito.ew@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
