[core]
  editor = vim
  autocrlf = input
  whitespace = trailing-space,space-before-tab,indent-with-non-tab
  pager = lv
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[user]
  name = issuy
  email = akito.ew@gmail.com
[init]
  defaultBranch = main
[diff]
  tool = vimdiff
[difftool]
  prompt = false
